@font-face {
  font-family: "kara";
  src: url("karakaze-R.ttf") format("truetype");
}
body{
  background-color: #333333;
}
.pipis{
  text-align: center;
}
.pipis button{
  position: relative;
  border: none;
  background-color: aqua;
  border-radius: 45px;
  height: 90px;
  padding: 0 50px;
  font-size: 40px;
  line-height: 1.5;
  font-weight: bold;
  margin-top: 110px;
  transition: transform 0.3s;
}
.pipis p{
  font-family: "kara";
  font-size: 50px;
  color: #ffffff;
  transform: rotate(5deg);
  position: absolute;
  top: -120px;
  left: 0px;
  margin: 0;
}
.pipis p span{
  transform: rotate(-10deg);
  position: absolute;
  top: 50px;
  left: 20px;
}
.pipis.lady button::after{
  content: url(ribbon.png);
  width: 100px !important;
  transform: scale(0.2) rotate(15deg);
  position: absolute;
  top: -260px;
  right: 30px;
}
.pipis button:hover{
  transform: translateY(-10px);
}